@import "tailwindcss";

:root {
  --background: #ffffff;
  
}




.square {
  width: 100px;
  height: 100px;
  background: #fff;
  margin-right: -1px;
  margin-top: -1px;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}

.board-row{
  display: flex;
}
