body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 50px;
    padding: 0px;
    flex-direction: column;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}